header {
    position:fixed;
    top:0; left:0;
    z-index:1000;
    height:100%;
    width:35rem;
    background:black;
    display:flex;
    align-items:center;
    justify-content: center;
}
body{
    background: #111;
}
header .user img {
    height: 17rem;
    width: 17rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
    border: 0.7rem solid var(--yellow);
}
header .user .name {
    font-size: 2.5rem;
    color: antiquewhite;
}
header .user .post{
    font-size: 2rem;
    color: antiquewhite;
}