@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&display=swap');
:root{
    --orange:orange;
}
*{
    font-family: 'Nunito', sans-serif;
    margin:0;
    padding:0;
    box-sizing:border-box;
    text-decoration:none;
    text-transform:capitalize;
    transition:all .2s linear;
}
html {
    font-size:70.5%;
    overflow-x:hidden;
}
body {
    background:black;
    overflow-x: hidden;
}
header {
    position:fixed;
    top:0; left:0;
    z-index:1000;
    height:100%;
    width:35rem;
    background:black;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
}
body{
    background: #111;
}
header .user img {
    height: 17rem;
    width: 17rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
    border: 0.7rem solid var(--orange);
}
header .user .name {
    font-size: 2.5rem;
    color: antiquewhite;
}
header .user .post{
    font-size: 2rem;
    color: antiquewhite;
}

header .navBar {
    font-size : 2rem;
}
header .navBar ul{
    list-style: none;
    padding:1rem 2rem;
}
header .navBar ul li a{
    display: block;
    padding:1rem;
    margin:1.5rem 0;
    background:#333;
    color:#fff;
    font-size: 1.5rem;
    border-radius: 5rem;
}

header .navBar ul li a:hover{
    background:orange;
}
